/*About us*/

footer {
  background: #432;
  color: #fff;
  text-align: center;
  padding: 26px 0;

}

footer p {
  font-size: 0.875rem;
}

article {
  width: 74%;
  border: 2px solid #432; /* 邊框顏色*/
  border-radius: 15px; /* 添加圓角 */
  padding: 20px; /* 內距 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 增加陰影 */
}

aside {
  width: 22%;
}

.Aboutus-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px;
}

.post-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-data {
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.post-data span {
  font-size: 1rem;
  border-top: 1px rgba(255, 255, 255, 0.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.post-title {
  font-family: Philosopher, serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title,
.post-cat {
  margin-left: 120px;
}

article img {
  margin-bottom: 20px;
}

.Ftenk {
  font-size: 30px;
}

.location .wrapper {
  display: flex;
  justify-content: space-between;
}

.location-info {
  width: 37%;
}

.location-info p {
  padding: 12px 10px;
}

.location-map {
  width: 74%;
}
.linlk-us {
  display: flex;
}
.img-us {
  width: 100px;
  margin: 20px 12px;
}

.sub-title {
  margin-top: 0;
}

.sub-menu a {
  color: #432;
}

.sub-menu a:hover {
  color: #0bd;
}

/*手機優化*/

@media (max-width: 768px) {
  .Aboutus-contents {
    flex-direction: column;
    display: flex;
    /* 垂直置中 */
    align-items: center;
  }
  aside {
    display: none; /*手機板不再顯示側欄位*/
  }

  .article {
    width: 100%;
  }

  #About_us .page-title {
    margin-top: 30px;
  }

  .post-info {
    margin-bottom: 30px;
  }

  .post-data {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }

  .post-data span {
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-title {
    font-size: 1.375rem;
  }

  .post-cat {
    font-size: 0.875rem;
    margin-left: 10px;
  }

  .post-title,
  .post-cat {
    margin-left: 80px;
  }

  .location-info {
    width: 100%;
  }
  .location-map {
    width: 100%;
  }
  .location .wrapper {
    display: block;
  }

  .img-us {
    width: 40px;
    margin: 20px 12px;
  }
}
