



footer {
  background: #432;
  color: #fff;
  text-align: center;
  padding: 26px 0;
}

footer p {
  font-size: 0.875rem;
}

.row {
  padding: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}

.p {
  border: 2px solid #432; /* 设置边框宽度和颜色 */
  border-radius: 10px; /* 设置边框圆角 */
  margin: 10px;
}
.t {
  width: 100%;
}

.t p {
  /* padding: 1px 1px; */
  font-size: 17px;
  margin-top: 0; /*調整上邊距*/
  line-height: 1.5; /* 行高為0 */
}

.t h3 {
  padding: 15px 1px;
  font-size: 17px;
  margin-top: 5px; /* 調整上邊距 */
  line-height: 1.5; /* 行高為0 */
}
.left {
  width: 15%;
  height: 15%;
  padding-right: 50px;
}

.features {
  margin-bottom: 5px;
}

.features {
  margin-top: 0;
}

@media (max-width: 768px) {
  .commodity.wrapper {
      max-width: 100%;   /* 取消最大寬度限制 */
      margin: 0;         /* 取消置中對齊 */
      padding: 0;        /* 取消內側留白空間 */
  }

  .left{
    width: 100%;
     height: 100px;
     padding-right: 50px;   
     }   
}